
<% content_for :title do %>HohnCo.com<% end %>
<% content_for :description do %>Hohn &amp; Company, LLC Website<% end %>

<div id="divHome">
  <h1>Hohn &amp; Company, LLC</h1>
  <h5>INSIGHT | INNOVATION | STRATEGY | EXECUTION</h5>
</div>

   <div class="jumbotron">
      <h3>Management Consulting to Enable Enterprise Growth</h3>
   </div>


     <div class="page-header">
     </div>
      

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-1">
          </div>
    <div class="col-sm-2">
        <h4>Go-To-Market Strategy</h4>
        <p>Launch Strategy and Planning</p>
      <p>Integrated Product / Brand Strategy</p>
    </div>
    <div class="col-sm-2">
        <h4>Lifecycle Strategy</h4>
        <p>Expansion, Optimization, Innovation, Protection</p>
        <p>Development-Stage Assets</p>
        <p>Growth-Stage Assets</p>
    </div>
    <div class="col-sm-3">
        <h4>Corporate / OpCo / SBU Strategy</h4>
        <p>Adjacent and Whitespace Growth</p>
        <p>Customer and Economic Synergies</p> 
        <p>New Growth Platforms</p>  
        <p>Opportunity Assessment / Licensing and M&amp;A</p>
        <p>Short-, Mid-, Long-Term Roadmap</p>
    </div>

    <div class="col-sm-3">
      <h4>Building Strategic Capabilities</h4>
        <p>Cross-Portfolio Integrated Product Planning</p>
        <p>Marketing and Commercial Excellence</p>
        <p>Launch Excellence</p>
        <p>Business Development</p>
    </div>
<div class="col-sm-1">
          </div>
</div>

    </div>  
  </div>


  


        
 
