<% content_for :title do %>About<% end %>

<div class="row">
<div id="AboutMain">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <div class="divAbout">
          <div id="divAboutImg">
          </div>  
      </div>
    </div>
    
    <div class="col-sm-8">
      <div id="divAbout">
        <h3>We Say Hohn &amp; Company Is <b>About</b> Impact</h3>
          <h4> . . . consulting that makes a meaningful and high-value difference for our clients</h4>
          <h4> . . . results that help our clients address their most important growth challenges and opportunities</h4>
      </div>
    </div>
  </div>

</div>

<div class="page-header">
</div>

<div class="row">
<div class="col-sm-1">
  </div>
  
  <div class="col-sm-10">
    <h3> What Our Clients Say <b>About</b> Hohn &amp; Company</h3>
    
    <h4> 
    </h4>
  
    <h5> <b><i>"Ben and his team exceeded our expectations"</i></b> -- Chief Commercial Officer | Launch Strategy and Master Launch Playbook Assignment </h5>
    
    <h5> <b><i>"Hohn &amp; Company helped us rigorously challenge and improve every aspect of our Go-To-Market Strategy"</i></b> -- Global Brand Team Leader </h5>
  
    <h5> <b><i>"The strategic roadmap that Hohn &amp; Company developed with our executive team allowed our organization to make rapid changes in response to key events"</i></b> -- VP of Strategy and Planning, US Operating Company | Operating Company Strategy Assignment </h5>
  
    <h5> <b><i> "Hohn &amp; Company supported a large cross-functional team to elevate our company-wide approach to product planning" </i></b>-- Head of Marketing and Launch Excellence | Strategic Capability Building Assignment</h5>
    
    <h5> <b><i>"As our portfolio has expanded every year for the last five, they [Hohn &amp; Company] have seamlessly supported our annual business planning to help us reset the bar with a clear plan of action for the next year" </i></b>--  Business Unit Head | Annual Strategy and Business Planning Assignment </h5>
    
    <h5> <b><i>"Hohn &amp; Company has helped define strategy for my group the last three times I have changed roles" </i></b>-- Executive Director Transformational Growth | Strategy and Business Planning Assignment </h5>
    
  </div>
  
  <div class="col-sm-1">
  </div>
  
</div>


<!-- <p> This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>  --> 
