<% content_for :title do %> Capabilities <% end %>



<div class="container"> 
  <div class ="row"> 
    <br>
  </div>

  
  <div class="row" >
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked custom">
        <li><a href="#A0">Capabilities and Experience: </a> </li>
        <li><a href="#A1">&nbsp; Go-To-Market Strategy</a></li>
        <li><a href="#A2">&nbsp; Lifecycle Strategy</a></li>
        <li><a href="#A3">&nbsp; OpCo/SBU/Franchise Strategy</a></li>
        <li><a href="#A4">&nbsp; Corporate/OpCo Strategy </a></li>
        <li><a href="#A5">&nbsp; Building Strategic Capabilities</a></li>
      </ul>
      </div>
    <div class="col-sm-9">
    <div class="row" id="divCapabilities">
        <a name="A0" class="anchor"> </a>
    </div>   
      
      <div class="row" id="wrapper3"> 
        <a name="A1" class="anchor"> </a> <h4>I. Go-To-Market Strategy </h4>
        <div class="Tab1">
          <h5><b>Launch:</b></h5>
        </div>
        <div class="Tab2">
        <bl> 
          <li>Launch Strategy</li>
          <li>Master Launch Playbook / Launch Activity Plan</li>
          <li>Launch Program Management</li>
          <li>Forecast and Budget</li>
          <li>Geographic Sequencing</li>
          <li>Customer Segmentation</li>
          <li>Positioning, Value Propostion, and Dimensions of Competition</li>
          <li>Changing Customer Perceptions and Purchase and Use Behaviors</li>
          <li>Pricing and Access</li>
          <li>Commercial Model and Marketing Mix</li>
          <li>Launch Metrics and Milestones</li>
          <li>Launch Analogues</li>
         </bl>
        </div>
      <div class="Tab1"> 
        <h5><b>Product/Brand Strategy:</b></h5>
      </div>
       <div class="Tab2">
         <bl>
           <li>Integrated Product / Brand Planning </li>
           <li>Market, Customer and Competitor Insight </li>
           <li>Positioning, Value Proposition, Dimensions of Competition </li>
           <li>Promotional Strategy and Marketing Mix </li>
           <li>Commercial Model and Effectiveness </li> 
           <li>Branding and Messaging </li>
           <li>Pricing, Reimbursement and Access </li> 
           <li>Key Initiatives and Tactical Plans </li>
         </bl>
        </div>
        <br> 
      </div>  
        
      <div class="row" id="wrapper2"> 
        <a name="A2" class="anchor"> </a> <h4>II. Lifecycle Strategy </h4>
        <div class="Tab1">
          <h5><b>Innovation, Extension, Optimization, Protection:</b></h5>
        </div>
        <div class="Tab2">
          <bl>
            <li>Lifecycle Opportunity Asessment and Roadmap</li>
            <li>Novel Dimensions of Competition</li>
            <li>Novel Solutions to Enable Superior Performance</li>
            <li>Extending Reach to Adjacent Customers / Market Segments / Indications </li>
            <li>Value Proposition Enhancement and Product Variants </li>
            <li>Tailoring the Offer for Key Customer Groups/Segments </li>
            <li>Data and Messaging </li>
            <li>Business Model Differentiation</li>
          </bl>
      </div>
      </div>
      
      <div class="row" id="wrapper3A"> 
        <a name="A3" class="anchor"> </a> <h4>III. Franchise/OpCo/SBU Strategy </h4>
        
        <div class="Tab1">
          <h5><b>Organic and Non-Organic Growth:</b></h5>
        </div>
        <div class="Tab2">
          <bl>
            <li>Adjacent Opportunity Assessment -- Products/Technologies, Markets, Customers</li>
            <li>Customer Insight Driven Key Strategic Choices</li>
            <li>Portfolio and Growth Initiative Priorities and Sequencing</li>
            <li>Adjacent and Transformational Innovation</li>
            <li>Non-Organic Growth / BD and M&amp;A</li>
          </bl>
        </div>
      </div>
      
      <div class="row" id="wrapper2"> 
        <a name="A4" class="anchor"> </a> <h4>IV. Corporate/OpCo Strategy </h4>
        
        <div class="Tab1">
          <h5><b>Defining the Growth Agenda:</b></h5>
        </div>
        <div class="Tab2">
          <bl>
            <li>Division, Geographic and Operating Company Growth Priorities</li>
            <li>White Space and New Business Opportunity Assessment</li>
            <li>Scenario and Organizational Planning Under Uncertainty</li>
            <li>Cross-Business Growth Portfolio Priority Setting and Resourcing</li>
            <li>Strategic Initiatives and Big Bets</li>
            <li>New Growth Platforms</li>
          </bl>
        </div> 
      </div>
      <div class="row" id="wrapper3A"> 
        <a name="A5" class="anchor"> </a> <h4>V. Building Strategic Capabilities </h4>
        
        <div class="Tab1">
          <h5><b>Strategic Process Design or Improvement:</b></h5>
        </div>
        <div class="Tab2">
          <bl>
            <li>New Product Launch Excellence</li>            
            <li>Brand and Product Integrated Strategy / Planning</li>
            <li>Strategic Marketing Excellence</li>
            <li>Customer- and Innovation-Centric Product Development</li>
            <li>Business Development / Corporate Development </li>
          </bl>
        </div> 
      </div>
      <div class="row" id="wrapper3A">
      </div>
    </div>
  </div>
</div>



