<% content_for :title do %>Contact HohnCo<% end %>

<div id="wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div id="divContact">
      </div>
    </div>
  <div class="col-sm-6">
     <br></br>
     <h3>Manhattan HQ</h3>
      <h4>We are located on East 54th St</h4>
      <h3></h3>
     <h3>Call us at</h3>    
      <h4>646-397-4646</h4>
     <h3>Email us at</h3>
       <h4>inquiries@hohnco.com</h4>
    </div>
  </div>

  <div class="page-header">
  </div>

  <div class="row">
    <div class ="col-sm-2">
         </div>
    <div class="col-sm-8">
      <h3> Interested in joining our team? </h3>
      <h4> Please email us </h4>
      <p> Experienced consultants interested in joining our team on a part-time or full-time basis, as well as independent consultants with specialized areas of expertise who are interested in joining us for particular projects, will be considered as client needs arise. </p>
      
    </div>
    <div class="col-sm-2">
         </div>
   <div class="container">
     <div class="jumbotron">
     </div>
    </div>
    
</div>

</div>
</div>  <!-- wrapper ends -->
