// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

html,body{
  margin:0;
  padding:0
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin bottom by footer height */
  margin-bottom: 60px;
}

main {
  @extend .container;
  background-color: #eee;
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 35px; // accommodate the navbar
  margin-left: 0px;
  margin-right: 0px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }


.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height:80px
}

.page-header {
  border-bottom: 2px solid;
  border-bottom-color: #686868;
  margin-left: 5%;
  margin-right: 5%
}

#wrapper {
  min-height: 980px;
  position:relative;
  background-color: #eee;
  background-size: cover;
}


#divHome {
  background: url("U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 20px;
}

#divContact {
  background: url("StrategyPlanScrabble.jpg");
  background-repeat: no-repeat;
  margin-top: 70px;
  height:250px;
  background-position: center top;
}

#AboutMain {
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}


#divAboutImg {
  background: url("ConsultingImage.jpg");
  background-repeat: no-repeat;
  margin-top: 70px;
  height:250px;
  background-position: center;
  padding: 5px;
}


#divAbout {
  margin-top: 50px;
  padding: 15px;
  text-position: center;
}

#divFooter {
  position-fixed: left;
  position: bottom;
  height: 100px;
  padding: 10px;
  background-color: #303030;
  color: #e0e0e0;
  background-size: cover;
  background: scroll 0% 0%
}

#textFooter {
  position: left;
  position: bottom
}